@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* Merriweather */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Inter */


* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 50px 140px 0px 140px;
}

/* Header */

header {
    background-image: linear-gradient(to bottom, rgb(29, 29, 31) 0%, rgba(11, 11, 54, 0.4) 100%),
        url("../assets/images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.banner {
    text-align: center;
    padding: 177px 344px;
}

.banner h3 {
    color: #FFFFFF;
    font-size: 32px;
    font-family: Merriweather;
}

.banner h1 {
    color: #FFFFFF;
    font-size: 72px;
    font-family: Merriweather;
}


.first {
    text-align: center;
    padding: 120px 258px;
}

.first h1{
    margin-bottom: 48px;
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    font-family: Inter;
}

.first .desc1 {
   margin-bottom: 16px;
   font-size: 24px;
   font-family: Inter;
   color: #FF0000;
   font-weight: 500;
}

.first .desc2 {
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    font-family: Inter;
}

.first-img {
    justify-content: center;
    margin-bottom: 120px;
}


.second {
    display: flex;
    align-items: center;
    gap: 100px;
    background-image: url("../assets/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-bottom: 120px;
}

.second-desc {
    justify-content: center;
    align-items: center;
    padding: 126px 0px 142px 126px;
}

.second-desc h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: Black;
    font-family: Merriweather;
    margin-bottom: 24px;
}

.second-pera {
    font-size: 18px;
    font-weight: 400;
    font-family: Inter;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.second-desc .btn {
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
    border: none;
    padding: 2px;
    background: transparent;
    color: #FFFFFF;
}

.second .welcome {
    padding: 68px 140px 68px 100px;
}

/* Section three */

section .three {
    text-align: center;
}

.three-div {
    text-align: center;
    padding: 100px 350px 110px 350px;
}

.three-div p {
    color: #070211;
    font-size: 32px;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 30px;
}

.three-desc {
    color: #FF0000;
}

.three-btn {
    background-color: #FF0000;
    padding: 16px 32px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}