/* Fonts & Global Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #070211;
}

.Merriweather {
    font-family: 'Merriweather', serif;
}

/* Common Layout Helper */
header, main {
    max-width: 1320px;
    margin: 0 auto;
}

/* Banner */
.banner {
    background: linear-gradient(180deg, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("../assets/images/Banner\ Image.png");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    color: #FFFFFF;
    margin-top: 50px;
}

.banner h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

.banner h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}


/* Section One: 65% OFF */
.first {
    margin-top: 120px;
    text-align: center;
}

.first h1 {
    font-size: 88px;
    color: #FF0000;
    font-weight: 700;
    margin-bottom: 48px;
}

.desc1 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.desc2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.first-img {
    width: 100%;
    max-width: 802px;
}


/* Section Two: Welcome Party */
.second {
    background: linear-gradient(90deg, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("../assets/images/Vectorrr.png");

    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 130px;
    gap: 40px;
    color: #FFFFFF;
    margin-top: 120px;
}

.second-desc h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    margin-bottom: 24px;
}

.second-pera {
    margin-bottom: 18px;
    line-height: 30px;
    margin-bottom: 48px;
}

.btn {
    background: transparent;
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.welcome-img {
    max-width: 320px;
    height: auto;
}


/* Section Three: Place & Time */
.three {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    
    padding: 105px;
    text-align: center;
    border-radius: 16px;
    margin-top: 120px;
}

.three-div p {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}

.three-desc { color: #FF0000; }

.three-btn {
    background: #FF0000;
    color: #FFFFFF;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 48px;
    cursor: pointer;
}


/* Section Four: Coming Soon */
.four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 120px;
}

.comming-soon, circle, .new-year { 
    flex: 1; 
}

.comming-soon h3 {  
    font-size: 24px; 
    margin-bottom: 16px;
    font-weight: 500;
    color: #FF0000;
}

.comming-soon h1{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}

.comming-soon p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
}

.circle {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 35px;
}

.new-year {
    max-width: 276px;
}

.new-year h1 { 
    color: #FF0000; 
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 16px;
}

.new-year p {
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
}


/* Section Five: Holidays */
.five {
    margin-top: 120px;
    text-align: center;
}

.holidays {
    max-width: 1068px;
    margin: 0 auto 64px;
}

.holidays h3 {
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    margin-bottom: 16px;
}

.holidays h1 {
    font-size: 72px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 28px;
}

.holi-red {
    color: #FF0000;
}

.holidays p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holi-img {
    display: flex;
    gap: 177px;
    width: 100%;
}

.gift {
    width: 100%;
    object-fit: contain;
}

.holi-img-part {
    position: relative;
}

.rect-red {
    position: absolute;
    top: 430px;
    z-index: -1;
    width: 100%;
}


/* Section Six: Portfolio Gallery */
.six {
    margin-top: 120px;
}

.awesome h3 {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.awesome h1 {
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}

.awesome p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
}

.six-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    border-radius: 16px;
}

.six-img {
    transition: 1s;
}

.six-img img:hover {
    transform: translateY(-10px);
}


/* Section Seven: Subscribe */
.seven {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    text-align: center;
    margin-top: 120px;
    padding: 80px 0;
}

.subscribe {
    max-width: 890px;
    margin: 0 auto;
}

.subscribe img {
    margin-bottom: 40px;
}

.subscribe h1 {
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}

.subscribe p {
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
}

.subscribe-box {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.subscribe-box input {
    flex: 1;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 22px;
}

.subscribe-box button {
    background: #ff0000;
    color: #fff;
    padding: 0 30px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

/* Footer */
.footer-container {
    background: #070211;
    color: #FFFFFF;
    padding: 120px;
    text-align: center;
    margin-top: 120px;
}

.footer-upper {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.address {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.website, .phone {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 24px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 48px;
}

.unsub {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
}

.unsub button {
    background: #070211;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 500;
}


/* Responsive Design (Mobile) */
@media (max-width: 768px) {
    .banner {
        width: 90%;
        height: 200px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 40px 20px 0;
    }

    .banner h3 {
        font-size: 16px;
        margin-top: 30px;
    }

    .banner h1 {
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 32px;
    }

    .first {
        margin: 40px 20px 0;
    }

    .first h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .desc1 {
        
        font-size: 16px;
    }
    .desc2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .second { 
        margin: 40px 20px 0;
        flex-direction: column-reverse; 
        padding: 40px 20px;
        text-align: center;
    }

    .second-desc h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .welcome-img{
        width: 50%;
    }

    .three {
        margin: 40px 20px 0;
        padding: 40px 30px;
    }

    .three-div p {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .three-btn {
        margin-top: 20px;
    }

    .four { 
        flex-direction: column; 
        text-align: center; 
        padding: 0 20px;
    }

    .circle img {
        width: 100%;
        height: auto;
        display: block;
    }

    .five {
        padding: 0 20px;
        margin-top: 80px;
        overflow: hidden;
    }

    .holidays {
        margin: 0;
    }

    .holidays h3 {
        font-size: 20px;
    }

    .holidays h1 {
        font-size: 36px;
    }

    .holi-img {
        flex-direction: column-reverse;
        gap: 10px;
        align-items: center;
    }

    .gift, .discount {
        width: 100%;
        max-width: 100%;
    }

    .gift img, .discount img {
        width: 100%;
        height: auto;
        display: block;
    }

    .rect-red {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .rect-red img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .six {
        padding: 0 20px;
    }

    .awesome h1 {
        font-size: 36px;
    }

    .six-img {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .six-img img {
        width: 100%;
    }

    .seven {
        padding: 50px 20px;
    }

    .subscribe h1 {
        font-size: 32px;
    }

    .subscribe-box { 
        max-width: 100%;
        flex-direction: column; 
        max-width: 100%;
        background: transparent; 
        overflow: visible;
        gap: 20px;
    }
    .subscribe-box input { 
        border-radius: 50px; 
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    .subscribe-box button { 
        width: 100%;
        padding: 15px 0;
        border-radius: 50px;
        cursor: pointer;
    }

    .footer-container {
        padding: 50px 20px;
        font-size: 16px;
    }

    .address {
        text-align: center;
    }

    .footer-upper, .unsub {
        flex-direction: column;
        gap: 30px;
    }
}